@model Store
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Stores" asp-action="Create">
        <input asp-for="AddressId" placeholder="Address Id" /><br />
        <input type="submit" value="Add product kind" />
    </form>
</body>
</html>