@model Store
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="Stores" asp-action="Find">
        <label asp-for="Id">@Model.Id</label><br />
        <label asp-for="AddressId">@Model.AddressId</label><br />
    </form>
</body>
</html>