@model ProductKind
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="ProductsKinds" asp-action="Create">
        <input asp-for="KindName" /><br />
        <input type="submit" value="Add" /><br />
    </form>
</body>
</html>