@model ProductsKind
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="ProductsKinds" asp-action="Delete">
        <h6>@Model.Id</h6><br />
        <h6>@Model.KindName</h6><br />
        <input type="submit" value="Delete product kind" />
    </form>
</body>
</html>