@model ProductKind
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="ProductsKinds" asp-action="Delete">
        <label asp-for="Id">@Model.Id</label><br />
        <label asp-for="KindName">@Model.KindName</label><br />
        <input type="submit" value="Delete" /><br />
    </form>
</body>
</html>