@model ClientsEmail
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="ClientsEmails" asp-action="Create">
        <select asp-for="ClientId">
            @foreach (Client client in ViewBag.Clients)
            {
                <option value="@client.Id">@client.FirstName @client.LastName</option>
            }
        </select><br />
        <input asp-for="EmailAddress" placeholder="Email address" /><br />
        <input type="submit" value="Add client email" />
    </form>
</body>
</html>