@model ClientsEmail
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="ClientsEmails" asp-action="Delete">
        <h6>@Model.Id</h6><br />
        <h6>@Model.ClientId</h6><br />
        <h6>@Model.EmailAddress</h6><br />
        <input type="submit" value="Delete client email" />
    </form>
</body>
</html>