@model CommonProductsLeftoversOnPrimaryWarehouse
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="CommonProductsLeftoversOnPrimaryWarehouses" asp-action="Create">
        <select asp-for="ProductId" asp-items="ViewBag.Products"></select><br />
        <input asp-for="Quantity" placeholder="Quantity" /><br />
        <input type="submit" value="Add common products leftovers on primary warehouses" />
    </form>
</body>
</html>