@model Client
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Clients" asp-action="Delete">
        <label asp-for="Id">@Model.Id</label><br />
        <label asp-for="FirstName">@Model.FirstName</label><br />
        <label asp-for="LastName">@Model.LastName</label><br />
        <input type="submit" value="Delete" /><br />
    </form>
</body>
</html>