@model Client
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Clients" asp-action="Edit">
        <input asp-for="FirstName" placeholder="First name" value="@Model.FirstName" /><br />
        <input asp-for="LastName" placeholder="Last name" value="@Model.LastName" /><br />
        <button type="submit">Update client</button>
    </form>
</body>
</html>