@model Client
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="Clients" asp-action="Find">
        <label asp-for="Id">@Model.Id</label><br />
        <label asp-for="FirstName">@Model.FirstName</label><br />
        <label asp-for="LastName">@Model.LastName</label><br />
    </form>
</body>
</html>