@model CartsItem
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="CartsItems" asp-action="Create">
        <select asp-for="CartId" asp-items="ViewBag.Carts"></select><br />
        <select asp-for="ProductId" asp-items="ViewBag.Products"></select><br />
        <input asp-for="Quantity" placeholder="Quantity" /><br />
        <input type="submit" value="Add cart item" />
    </form>
</body>
</html>