@model CartsItem
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="CartsItems" asp-action="Delete">
        <h6>@Model.Id</h6><br />
        <h6>@Model.CartId</h6><br />
        <h6>@Model.ProductId</h6><br />
        <h6>@Model.Quantity</h6><br />
        <input type="submit" value="Delete cart item" />
    </form>
</body>
</html>