@model CartsItem
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="CartsItems" asp-action="Edit">
        <select asp-for="CartId" asp-items="ViewBag.Carts"></select><br />
        <select asp-for="ProductId" asp-items="ViewBag.Products"></select><br />
        <input asp-for="Quantity" placeholder="Quantity" value=@Model.Quantity /><br />
        <button type="submit">Update cart item</button>
    </form>
</body>
</html>