@model CartItem
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="CartsItems" asp-action="Find">
        <label asp-for="Id">@Model.Id</label><br />
        <label asp-for="CartId">@Model.CartId</label><br />
        <label asp-for="ProductId">@Model.ProductId</label><br />
        <label asp-for="Quantity">@Model.Quantity</label><br />
    </form>
</body>
</html>