@model IEnumerable<Product>
<!DOCTYPE html>
 <html>
 <body>
     
     @foreach (Product product in Model)
     {
         <div>
             <form id="@product.Id" asp-action="AddToCart" method="post">
                 <input type="hidden" name="Id" value="@product.Id" />
                 <h3>@product.ProductName</h3><br />
                 <h3>@product.Price</h3><br />
                 <span><button type="submit">Add To Cart</button></span>
             </form>
         </div>
     }
 </body>
</html>