@model Order
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Orders" asp-action="Create">
        <select asp-for="ClientAddressId" asp-items="ViewBag.ClientsAddresses"></select><br />
        <input asp-for="OrderingDate" placeholder="Ordering Date" /><br />

        <input type="submit" value="Add order" />
    </form>
</body>
</html>