@model Order
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Orders" asp-action="Delete">
        <h6>@Model.Id</h6><br />
        <h6>@Model.ClientAddressId</h6><br />
        <h6>@Model.OrderingDate</h6><br />
        <input type="submit" value="Delete order" />
    </form>
</body>
</html>