@model Order
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="Orders" asp-action="Find">
        <label asp-for="Id">@Model.Id</label><br />
        <label asp-for="ClientAddressId">@Model.ClientAddressId</label><br />
        <label asp-for="IsCompleted">@Model.IsCompleted</label><br />
        <label asp-for="OrderingDate">@Model.OrderingDate</label><br />
    </form>
</body>
</html>