@model Category
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Categories" asp-action="Create">
        <input asp-for="CategoryName" /><br />
        <input type="submit" value="Add" /><br />
    </form>
</body>
</html>