@model Category
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Categories" asp-action="Delete">
        <h6>@Model.Id</h6><br />
        <h6>@Model.CategoryName</h6><br />
        <input type="submit" value="Delete category" />
    </form>
</body>
</html>