@model Category
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="Categories" asp-action="Find">
        <label asp-for="Id">@Model.Id</label><br />
        <label asp-for="CategoryName">@Model.CategoryName</label><br />
    </form>
</body>
</html>