@model IEnumerable<Category>
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="Categories" asp-action="Index">
        @foreach (Category category in Model)
        {
            <label asp-for="@category.Id">@category.Id</label><br />
            <label asp-for="@category.CategoryName">@category.CategoryName</label><br />
        }
    </form>
</body>
</html>