@model ClientAddress
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="ClientsAddresses" asp-action="Create">
        <input asp-for="AddressId" /><br />
        <input asp-for="ClientId" /><br />
        <input type="submit" value="Add" /><br />
    </form>
</body>
</html>