@model ClientsAddress
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="ClientsAddresses" asp-action="Delete">
        <h6>@Model.Id</h6><br />
        <h6>@Model.AddressId</h6><br />
        <h6>@Model.ClientId</h6><br />
        <input type="submit" value="Delete client address" />
    </form>
</body>
</html>