@model Cart
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Carts" asp-action="Create">
        <input asp-for="ClientId" placeholder="Client Id" /><br />
        <input type="submit" value="Add cart" />
    </form>
</body>
</html>