@model Cart
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Carts" asp-action="Create">
        <select asp-for="ClientId">
            @foreach (Client client in ViewBag.Clients)
            {
                <option value="@client.Id">@client.FirstName @client.LastName</option>
            }
        </select>
        <input type="submit" value="Add cart" />
    </form>
</body>
</html>