@model Cart
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Carts" asp-action="Delete">
        <h6>@Model.Id</h6><br />
        <h6>@Model.ClientId</h6><br />
        <input type="submit" value="Delete cart" />
    </form>
</body>
</html>