@model Cart
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Carts" asp-action="Edit">
        <select asp-for="ClientId">
            @foreach (Client client in ViewBag.Clients)
            {
                <option value="@client.Id">@client.FirstName @client.LastName</option>
            }
        </select>
        <br />
        <button type="submit">Update cart</button>
    </form>
</body>
</html>