@model Cart
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="Carts" asp-action="Find">
        <label asp-for="Id">@Model.Id</label><br />
        <label asp-for="ClientId">@Model.ClientId</label><br />
    </form>
</body>
</html>