@model IEnumerable<Cart>
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="Carts" asp-action="Index">
        @foreach (Cart cart in Model)
        {
            <label asp-for="@cart.Id">@cart.Id</label><br />
            <label asp-for="@cart.ClientId">@cart.ClientId</label><br />
        }
    </form>
</body>
</html>