@model Manufacturer
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Manufacturers" asp-action="Create">
        <input asp-for="ManufacturerName" /><br />
        <input type="submit" value="Add" /><br />
    </form>
</body>
</html>