@model Manufacturer
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Manufacturers" asp-action="Delete">
        <label asp-for="Id">@Model.Id</label><br />
        <label asp-for="ManufacturerName">@Model.ManufacturerName</label><br />
        <input type="submit" value="Delete" /><br />
    </form>
</body>
</html>