@model Manufacturer
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Manufacturers" asp-action="Delete">
        <h6>@Model.Id</h6><br />
        <h6>@Model.ManufacturerName</h6><br />
        <input type="submit" value="Delete manufacturer" />
    </form>
</body>
</html>