@model Manufacturer
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="Manufacturers" asp-action="Find">
        <label asp-for="Id">@Model.Id</label><br />
        <label asp-for="ManufacturerName">@Model.ManufacturerName</label><br />
    </form>
</body>
</html>