@model IEnumerable<Manufacturer>
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="Manufacturers" asp-action="Index">
        @foreach (Manufacturer manufacturer in Model)
        {
            <label asp-for="@manufacturer.Id">@manufacturer.Id</label><br />
            <label asp-for="@manufacturer.ManufacturerName">@manufacturer.ManufacturerName</label><br />
        }
    </form>
</body>
</html>