@model Address
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Addresses" asp-action="Create">
        <input asp-for="City" /><br />
        <input asp-for="Country" /><br />
        <input asp-for="FlatNumber" /><br />
        <input asp-for="HouseNumber" /><br />
        <input asp-for="PostIndex" /><br />
        <input asp-for="Street" /><br />
        <input type="submit" value="Add" /><br />
    </form>
</body>
</html>