@model ClientsPhonesNumber
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="ClientsPhonesNumbers" asp-action="Create">
        <input asp-for="ClientId" placeholder="Client Id" /><br />
        <input asp-for="PhoneNumber" placeholder="Phone number" /><br />
        <input type="submit" value="Add client phone number" />
    </form>
</body>
</html>