@model ClientPhoneNumber
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="ClientsPhonesNumbers" asp-action="Delete">
        <label asp-for="Id">@Model.Id</label><br />
        <label asp-for="ClientId">@Model.ClientId</label><br />
        <label asp-for="PhoneNumber">@Model.PhoneNumber</label><br />
        <input type="submit" value="Delete" /><br />
    </form>
</body>
</html>