@model ClientsPhonesNumber
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="ClientsPhonesNumbers" asp-action="Delete">
        <h6>@Model.Id</h6><br />
        <h6>@Model.ClientId</h6><br />
        <h6>@Model.PhoneNumber</h6><br />
        <button type="submit">Delete</button>
    </form>
</body>
</html>