@model ClientsPhonesNumber
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="ClientsPhonesNumbers" asp-action="Edit">
        <select asp-for="ClientId">
            @foreach (Client client in ViewBag.Clients)
            {
                <option value="@client.Id">@client.FirstName @client.LastName</option>
            }
        </select><br />
        <input asp-for="PhoneNumber" placeholder="Phone number" value="@Model.PhoneNumber" /><br />
        <button type="submit">Update client phone number</button>
    </form>
</body>
</html>