@model LeftoversInStore
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="LeftoversInStores" asp-action="Create">
        <select asp-for="ProductId" asp-items="ViewBag.Products"></select><br />
        <input asp-for="Quantity" placeholder="Quantity" /><br />
        <select asp-for="StoreId" asp-items="ViewBag.Stores"></select><br />
        <input type="submit" value="Add leftover in store" />
    </form>
</body>
</html>