@model LeftoversInStore
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="LeftoversInStores" asp-action="Create">
        <input asp-for="ProductId" placeholder="Product Id" /><br />
        <input asp-for="Quantity" placeholder="Quantity" /><br />
        <input asp-for="StoreId" placeholder="Store Id" /><br />
        <input type="submit" value="Add leftover in store" />
    </form>
</body>
</html>