@model LeftoversInStore
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="LeftoversInStores" asp-action="Delete">
        <h6>@Model.Id</h6><br />
        <h6>@Model.ProductId</h6><br />
        <h6>@Model.Quantity</h6><br />
        <h6>@Model.StoreId</h6><br />
        <input type="submit" value="Delete leftovers in store" />
    </form>
</body>
</html>