@model LeftoversInStore
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="LeftoversInStores" asp-action="Delete">
        <label asp-for="Id">@Model.Id</label><br />
        <label asp-for="ProductId">@Model.ProductId</label><br />
        <label asp-for="Quantity">@Model.Quantity</label><br />
        <label asp-for="StoreId">@Model.StoreId</label><br />
        <input type="submit" value="Delete" /><br />
    </form>
</body>
</html>