@model LeftoversInStore
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="LeftoversInStores" asp-action="Edit">
        <select asp-for="ProductId" asp-items="ViewBag.Products"></select><br />
        <input asp-for="Quantity" placeholder="Quantity" value="@Model.Quantity" /><br />
        <select asp-for="StoreId" asp-items="ViewBag.Stores"></select><br />
        <button type="submit">Update leftovers in store</button>
    </form>
</body>
</html>