@model OrdersItem
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="OrdersItems" asp-action="Create">
        <input asp-for="OrderId" placeholder="Order Id" /><br />
        <input asp-for="ProductId" placeholder="Product Id" /><br />
        <input asp-for="Quantity" placeholder="Quantity" /><br />

        <input type="submit" value="Add order item" />
    </form>
</body>
</html>