@model OrdersItem
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="OrdersItems" asp-action="Create">
        <select asp-for="OrderId" asp-items="ViewBag.Orders"></select><br />
        <select asp-for="ProductId" asp-items="ViewBag.Products"></select><br />
        <input asp-for="Quantity" placeholder="Quantity" /><br />

        <input type="submit" value="Add order item" />
    </form>
</body>
</html>