@model OrdersItem
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="OrdersItems" asp-action="Delete">
        <h6>@Model.Id</h6><br />
        <h6>@Model.OrderId</h6><br />
        <h6>@Model.ProductId</h6><br />
        <h6>@Model.Quantity</h6><br />
        <input type="submit" value="Delete order item" />
    </form>
</body>
</html>