@model OrdersItem
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="OrdersItems" asp-action="Edit">
        <input asp-for="OrderId" placeholder="Order Id" value="@Model.OrderId" /><br />
        <input asp-for="ProductId" placeholder="Product Id" value="@Model.ProductId" /><br />
        <input asp-for="Quantity" placeholder="Quantity" value="@Model.Quantity" /><br />

        <button type="submit">Update order item</button>
    </form>
</body>
</html>