@model CommonProductLeftoversOnPrimaryWarehouse
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="CommonProductsLeftoversOnPrimaryWarehouse" asp-action="Create">
        <input asp-for="ProductId" /><br />
        <input asp-for="Quantity" /><br />
        <input type="submit" value="Add" /><br />
    </form>
</body>
</html>