@model Product
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Products" asp-action="Create">
        <select asp-for="CategoryId" asp-items="ViewBag.Categories"></select><br />
        <select asp-for="ManufacturerId" asp-items="ViewBag.Manufacturers"></select><br />
        <input asp-for="Price" placeholder="Price" /><br />
        <select asp-for="ProductKindId" asp-items="ViewBag.ProductsKinds"></select><br />
        <input asp-for="ProductName" placeholder="Product Name" /><br />
        <input type="submit" value="Add product" />
    </form>
</body>
</html>