@model Product
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Products" asp-action="Edit">
        <select asp-for="CategoryId" asp-items="ViewBag.Categories"></select><br />
        <select asp-for="ManufacturerId" asp-items="ViewBag.Manufacturers"></select><br />
        <input asp-for="Price" placeholder="Price" value="@Model.Price" /><br />
        <select asp-for="ProductKindId" asp-items="ViewBag.ProductsKinds"></select><br />
        <input asp-for="ProductName" placeholder="Product Name" value="@Model.ProductName" /><br />
        <button type="submit">Update product</button>
    </form>
</body>
</html>